.container {
    display: grid;
    grid-template: 11.5% 5fr 1fr / 30px 5fr;
    height: 100vh;
    width: 100vw;
}

.header {
    background-color: #32373B;
    grid-column: 1 / -1;
    grid-row: span 1;    
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}

.mainbody {
    grid-column: 1  / -1;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    grid-row: span 2;
    background-color: #32373B;
}


